[Unit]
Description=REST Endpoint service for managing devloper keys.

[Service]
User=ubuntu
ExecStart=/home/ubuntu/keymgr.bash
Restart=on-failure

[Install]
WantedBy=multi-user.target

