[Unit]
Description=REST END POINT For Sample Service.

[Service]
User=ubuntu
ExecStart=/home/ubuntu/sampleservice.bash
Restart=on-failure

[Install]
WantedBy=multi-user.target

